.token-card {
   background-color: #302F32;
   border: none;
   border-radius: 12px;
}

.coin-box {
   border: 3px solid #464648;
   border-right: none;
   border-radius: 15px 0 0 15px !important;
}

.coin-box::after {
   content: '';
   width: 2px;
   height: 100%;
   margin-left: 17.5px;
   background-color: #464648;
}

.coin-input { 
   border: 3px solid #464648;
   border-left: none;
   border-radius: 0 15px 15px 0 !important;
   outline: none !important;
   box-shadow: none !important;
   text-align: right;
}

.coin-input:focus {
   border: 3px solid #464648 !important;
   border-left: none !important;
}

.coin-swap {
   width: 50px;
   height: 50px;
   border: 3px solid #464648;
   border-radius: 50%;
   background-color: #302F32;
}



/* WebKit, Edge */
input::-webkit-input-placeholder {
   color: #F8F9FA !important;
}

/* Firefox 4-18 */
input:-moz-placeholder {
   color: #F8F9FA !important;
   opacity: 1 !important;
}

/* Firefox 19+ */
input::-moz-placeholder {
   color: #F8F9FA !important;
   opacity: 1 !important;
}

/* IE 10-11 */
input:-ms-input-placeholder {
   color: #F8F9FA !important;
}

/* Edge */
input::-ms-input-placeholder {
   color: #F8F9FA !important;
}

/* MODERN BROWSER */
input::placeholder {
   color: #F8F9FA !important;
}