.navbar-toggler {
   outline: none !important;
   box-shadow: none !important;
   border: none !important;
}

.main-nav {
   background-color: #302F32 !important;
   min-height: 64px;
}

.indenticon-container {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   text-align: right;
}

@media(min-width: 576px) {
   .main-nav {
      border-radius: 15px 15px 0 0;
   }
}